$color-gris-oscuro: #333333;
$color-gris-claro: #dddddd;
$color-blanco: #fff;
$font-family-tri: "Trirong", serif;
$font-family-open: "Open Sans", sans-serif;
$font-family-roboto: "Roboto";

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

body {
  font-family: $font-family-roboto;
  .fixed-top {
    position: absolute;
  }
  .menu-negro {
    transition: background-color 1s;
    background-color: #000;
    padding-bottom: 10px !important;
  }

  #enviar,
  .btn-primary {
    background-color: #111111c4;
    border: #333;
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 32px;
    letter-spacing: 3px;
    border: 1px solid black;
  }

  #enviar,
  .btn-primary:hover {
    background-color: #000;
    border-color: #000;
  }
  // Navbar
  .navbar {
    z-index: 600;
    padding: 0px;
    padding-top: 10px;

    a {
      color: white;
      font-size: 18px;
    }

    .fab {
      font-size: 30px;
      margin: 0px 13px;
      font-weight: 100;
    }

    .navbar-nav {
      text-align: center;
    }

    .iconos {
      padding-top: 0.5rem;
    }

    .fa-bars {
      font-size: 37px;
      color: white;
    }

    div[class*="box"] {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo_central img {
      width: 80%;
    }

    /* 
      ========================
            BUTTON ONE
      ========================
      */
    .btn-one {
      color: #fff;
      transition: all 0.3s;
      position: relative;
    }
    .btn-one span {
      transition: all 0.3s;
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-size: 19px;
    }
    .btn-one::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: rgba(255, 255, 255, 0.5);
      border-bottom-color: rgba(255, 255, 255, 0.5);
      transform: scale(0.1, 1);
    }
    .btn-one:hover span {
      letter-spacing: 2px;
    }
    .btn-one:hover::before {
      opacity: 1;
      transform: scale(1, 1);
    }
    .btn-one::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      //background-color: rgba(255,255,255,0.1);
    }
    .btn-one:hover::after {
      opacity: 0;
      transform: scale(0.1, 1);
    }

    .redes-mobile {
      border-top: 1px solid $color-gris-claro;
    }
  }

  // Slider Central
  #slider-central {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

    position: relative;
    //margin-top: -180px;\\

    .swiper-wrapper {
      max-height: 840px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: white;
      padding: 0% 15%;
      padding-bottom: 20%;
    }

    %sliders {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      height: 55vw;
      color: white;

      h1 {
        position: relative;
        margin-left: -50px;
        top: 35%;
        margin-top: -50px;
        font-size: 50px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px #000;

        span {
          font-size: 22px;
        }

        text-align: center;
      }
    }

    .slider1 {
      background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0)),
        url("../img/slider/1.jpg") no-repeat center center fixed;
      @extend %sliders;
    }

    .slider2 {
      background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0)),
        url("../img/slider/2.jpg") no-repeat center center fixed;
      @extend %sliders;
    }

    .slider3 {
      background: url("../img/slider/3.JPG") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
    }

    #prologo-central .col-lg-12 {
      padding: 44px 80px;
      background-color: #0d0c0ce6;
      color: white;
      border-radius: 3px;
      position: relative;
      margin-top: -10%;
      z-index: 20;
      font-size: 30px;
      text-align: center;
      letter-spacing: 1px;
      line-height: 61px;
    }
  }

  // Mis trabajos
  #mis-trabajos {
    .menu-tipos-trabajos {
      li {
        cursor: pointer;
        list-style: none;
        border: none;
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 10px 0;
        padding: 10px 20px;
        text-decoration: none;
        color: #262626;
        font-size: 16px;
        letter-spacing: 1px;
        transition: 1s;
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 2px solid #262626;
          border-bottom: 2px solid #262626;
          transform: scaleY(2);
          opacity: 0;
          transition: 0.3s;
        }
        &:after {
          content: "";
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #262626;
          transform: scale(0);
          opacity: 0;
          transition: 0.3s;
          z-index: -1;
        }
        &:hover {
          color: #fff;
          &:before {
            transform: scaleY(1);
            opacity: 1;
          }
          &:after {
            transform: scaleY(1);
            opacity: 1;
          }
        }
      }

      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: inherit;
    }
  }

  #publicidad {
    #texto {
      min-height: 600px;
      background-color: #0d0c0c94;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      padding: 40px;
      text-align: center;
      color: white;
    }

    margin: 80px 0px;
    .parallax {
      /* The image used */

      /* Set a specific height */
      min-height: 600px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .parallax:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .publicidad1 {
      background-image: url("../img/trabajos/barandas/2.jpg");
    }

    .publicidad2 {
      background-image: url("../img/trabajos/frentes/3.jpg");
    }
  }
  // Mis especialidades
  #me-especializo {
    /* Rotar imagenes */

    /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-box {
      background-color: transparent;
      width: 100%;
      height: 100%;
      /*border: 1px solid #f1f1f1;*/
      border: none;
      border-radius: 0px !important;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-box-inner {
      position: relative;
      width: auto;
      height: 253px;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-box-front,
    .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-box-front {
      background-color: #fff0;
      color: black;
    }

    /* Style the back side */
    .flip-box-back {
      background-color: #2d2d2d;
      color: white;
      transform: rotateY(180deg);
      height: inherit !important;
      padding: 20px;
      z-index: 600;
    }

    .flip-box-back h2 {
      padding: 20px;
    }

    .flip-box-front .img-fluid {
      max-width: 100%;
      height: 100%;
      width: 100%;
    }

    .titulo {
      width: inherit;
      position: absolute;
      top: 12%;
      color: white;
      left: 0px;
      font-size: 40px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      font-weight: 500;
      z-index: 600;
    }

    .flip-box-front p {
      width: inherit;
      position: absolute;
      top: 65%;
      color: white;
      left: 0px;
      font-size: 23px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      font-weight: 500;
      z-index: 600;
    }

    /* End rotar imagenes */
  }

  // Presupuesto
  #pedi-presupuesto {
    input.form-control {
      height: 55px;
    }

    .row:nth-child(2) {
      //background-color: $color-gris-claro;
      padding: 0px 100px;
    }

    .container {
      padding: 20px 0px;
    }

    #div_resultado {
      width: 100%;
    }

    .resultado {
      //background-color:$color-gris-oscuro;
      width: 100%;
      margin-top: 20px;
      padding: 20px;
      color: white;
      text-align: center;
    }

    #imagen_loading {
      display: none;
      width: 10%;
    }
  }

  // Contactame
  #contactame {
    .row:nth-child(2) {
      background-color: $color-gris-claro;
      padding: 50px 100px;
    }

    .fas,
    .fab {
      color: $color-gris-claro;
      padding-right: 20px;
      color: #333;
      padding-right: 20px;
      text-align: center;
      font-size: 30px;
    }

    .a-whatsapp {
      font-weight: 900;
    }

    .redes {
      div {
        padding: 20px 0px;
        font-size: 18px;
      }
    }
  }

  // GENERALES
  footer {
    background-color: $color-gris-oscuro;
    text-align: center;
    padding: 50px 0px;
    color: white;
    margin-top: 50px;
  }

  h1.titulo-seccion {
    text-align: center;
    margin: 70px 0px;
  }

  .menu-dark {
    background-color: #333333f0;
    padding: 20px;
  }

  #button_up {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 14%;

    margin: 30px;
    background-color: #292929c7;
    border: 2px solid#292929;
    border-radius: 150px;
    padding: 12px 16px;
    color: #fff;
    z-index: 999;
  }

  #button_what {
    display: none;
    position: fixed;
    bottom: 30%;
    left: 14%;

    margin: 30px;
    background-color: #292929c7;
    border: 1px solid#292929;
    border-radius: 150px;
    padding: 12px 15px 12px 17px;
    color: #fff;
    z-index: 999;
  }
}

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);

    @media screen and (max-width: #{$mq-breakpoint}) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@include mq(lg) {
  body {
    //color:red;
  }
}

@include mq(md) {
  body {
    .logo-mobile {
      /*padding-right: 55px;*/
      img {
        /*width: 80%;*/
      }
    }

    .fab {
      font-weight: 400;
    }

    .logo_central {
      display: none;
    }

    #slider-central {
      %sliders {
        height: 70vw;

        h1 {
          font-size: 40px;
          padding: 20px;
          padding-right: 0px;
        }
      }
    }

    .nav-bar {
      background-color: #000 !important;
      padding: 20px;
    }

    nav {
      background-color: #000;
    }

    .navbar-brand {
      margin: 0 auto;
      width: auto;
    }

    #me-especializo {
      .flip-box-inner {
        position: relative;
        width: auto;
        height: 400px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        margin: 20px;
      }

      .titulo {
        font-size: 30px;
        padding: 20px;
      }

      .flip-box-back {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }

    #contactame {
      .redes {
        text-align: center;
        padding-bottom: 40px;
      }
    }
  }
}

@include mq(sm) {
  body {
    .logo-mobile {
      /*padding-right: 55px;*/
    }

    %sliders {
      height: 100vw;
    }
  }
}

@include mq(xs) {
  body {
      
    #slider-central {
      .swiper-pagination {
        bottom: 50px;
        .swiper-pagination-bullet {
          background: #fff;
        }
      }

      %sliders {
        height: 150vw;
        h1 {
          font-size: 30px;
          padding: 40px;
          padding-right: 0px;
          padding-top: 50px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }

      #prologo-central {
        .col-lg-12 {
          padding: 20px;
          border-radius: 0px;
          font-size: 20px;
          line-height: 40px;
        }
      }
    }

    #pedi-presupuesto {
      .row:nth-child(2) {
        padding: 20px;
      }
    }

    #me-especializo {
      .flip-box-inner {
        height: 250px;
      }
    }

    #button_up {
      display: none;
      position: fixed;
      bottom: 10px;
      right: 2%;

      margin: 30px;
      background-color: #292929c7;
      border: 2px solid#292929;
      border-radius: 150px;
      padding: 12px 16px;
      color: #fff;
      z-index: 999;
    }

    #button_what {
      display: none;
      position: fixed;
      bottom: 10px;
      left: 2%;

      margin: 30px;
      background-color: #292929c7;
      border: 1px solid#292929;
      border-radius: 150px;
      padding: 12px 15px 12px 17px;
      color: #fff;
      z-index: 999;
    }

    #publicidad {

      #texto {
        min-height: 400px;
        background-color: #0d0c0c94;
        display: flex;
        
      }

      .parallax {
        min-height: 400px !important;
        margin: 20px 0px;
      }
    }
  }
}
