body {
  font-family: "Roboto";
}

body .fixed-top {
  position: absolute;
}

body .menu-negro {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color: #000;
  padding-bottom: 10px !important;
}

body #enviar,
body .btn-primary {
  background-color: #111111c4;
  border: #333;
  padding: 16px 20px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 32px;
  letter-spacing: 3px;
  border: 1px solid black;
}

body #enviar,
body .btn-primary:hover {
  background-color: #000;
  border-color: #000;
}

body .navbar {
  z-index: 600;
  padding: 0px;
  padding-top: 10px;
  /* 
      ========================
            BUTTON ONE
      ========================
      */
}

body .navbar a {
  color: white;
  font-size: 18px;
}

body .navbar .fab {
  font-size: 30px;
  margin: 0px 13px;
  font-weight: 100;
}

body .navbar .navbar-nav {
  text-align: center;
}

body .navbar .iconos {
  padding-top: 0.5rem;
}

body .navbar .fa-bars {
  font-size: 37px;
  color: white;
}

body .navbar div[class*="box"] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar .logo_central img {
  width: 80%;
}

body .navbar .btn-one {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

body .navbar .btn-one span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-size: 19px;
}

body .navbar .btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

body .navbar .btn-one:hover span {
  letter-spacing: 2px;
}

body .navbar .btn-one:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

body .navbar .btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .navbar .btn-one:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

body .navbar .redes-mobile {
  border-top: 1px solid #dddddd;
}

body #slider-central {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
}

body #slider-central .swiper-wrapper {
  max-height: 840px;
}

body #slider-central .swiper-button-prev,
body #slider-central .swiper-button-next {
  color: white;
  padding: 0% 15%;
  padding-bottom: 20%;
}

body #slider-central .slider1, body #slider-central .slider2 {
  background-size: cover;
  -o-background-size: cover;
  height: 55vw;
  color: white;
}

body #slider-central .slider1 h1, body #slider-central .slider2 h1 {
  position: relative;
  margin-left: -50px;
  top: 35%;
  margin-top: -50px;
  font-size: 50px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

body #slider-central .slider1 h1 span, body #slider-central .slider2 h1 span {
  font-size: 22px;
}

body #slider-central .slider1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0))), url("../img/slider/1.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0)), url("../img/slider/1.jpg") no-repeat center center fixed;
}

body #slider-central .slider2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0))), url("../img/slider/2.jpg") no-repeat center center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0)), url("../img/slider/2.jpg") no-repeat center center fixed;
}

body #slider-central .slider3 {
  background: url("../img/slider/3.JPG") no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
}

body #slider-central #prologo-central .col-lg-12 {
  padding: 44px 80px;
  background-color: #0d0c0ce6;
  color: white;
  border-radius: 3px;
  position: relative;
  margin-top: -10%;
  z-index: 20;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 61px;
}

body #mis-trabajos .menu-tipos-trabajos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

body #mis-trabajos .menu-tipos-trabajos li {
  cursor: pointer;
  list-style: none;
  border: none;
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
}

body #mis-trabajos .menu-tipos-trabajos li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #mis-trabajos .menu-tipos-trabajos li:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

body #mis-trabajos .menu-tipos-trabajos li:hover {
  color: #fff;
}

body #mis-trabajos .menu-tipos-trabajos li:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

body #mis-trabajos .menu-tipos-trabajos li:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

body #publicidad {
  margin: 80px 0px;
}

body #publicidad #texto {
  min-height: 600px;
  background-color: #0d0c0c94;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  padding: 40px;
  text-align: center;
  color: white;
}

body #publicidad .parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body #publicidad .parallax:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

body #publicidad .publicidad1 {
  background-image: url("../img/trabajos/barandas/4.jpg");
}

body #publicidad .publicidad2 {
  background-image: url("../img/trabajos/frentes/3.jpg");
}

body #me-especializo {
  /* Rotar imagenes */
  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
  /* End rotar imagenes */
}

body #me-especializo .flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /*border: 1px solid #f1f1f1;*/
  border: none;
  border-radius: 0px !important;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

body #me-especializo .flip-box-inner {
  position: relative;
  width: auto;
  height: 253px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

body #me-especializo .flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body #me-especializo .flip-box-front,
body #me-especializo .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body #me-especializo .flip-box-front {
  background-color: #fff0;
  color: black;
}

body #me-especializo .flip-box-back {
  background-color: #2d2d2d;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  height: inherit !important;
  padding: 20px;
  z-index: 600;
}

body #me-especializo .flip-box-back h2 {
  padding: 20px;
}

body #me-especializo .flip-box-front .img-fluid {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

body #me-especializo .titulo {
  width: inherit;
  position: absolute;
  top: 12%;
  color: white;
  left: 0px;
  font-size: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  z-index: 600;
}

body #me-especializo .flip-box-front p {
  width: inherit;
  position: absolute;
  top: 65%;
  color: white;
  left: 0px;
  font-size: 23px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  font-weight: 500;
  z-index: 600;
}

body #pedi-presupuesto input.form-control {
  height: 55px;
}

body #pedi-presupuesto .row:nth-child(2) {
  padding: 0px 100px;
}

body #pedi-presupuesto .container {
  padding: 20px 0px;
}

body #pedi-presupuesto #div_resultado {
  width: 100%;
}

body #pedi-presupuesto .resultado {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  color: white;
  text-align: center;
}

body #pedi-presupuesto #imagen_loading {
  display: none;
  width: 10%;
}

body #contactame .row:nth-child(2) {
  background-color: #dddddd;
  padding: 50px 100px;
}

body #contactame .fas,
body #contactame .fab {
  color: #dddddd;
  padding-right: 20px;
  color: #333;
  padding-right: 20px;
  text-align: center;
  font-size: 30px;
}

body #contactame .a-whatsapp {
  font-weight: 900;
}

body #contactame .redes div {
  padding: 20px 0px;
  font-size: 18px;
}

body footer {
  background-color: #333333;
  text-align: center;
  padding: 50px 0px;
  color: white;
  margin-top: 50px;
}

body h1.titulo-seccion {
  text-align: center;
  margin: 70px 0px;
}

body .menu-dark {
  background-color: #333333f0;
  padding: 20px;
}

body #button_up {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 14%;
  margin: 30px;
  background-color: #292929c7;
  border: 2px solid #292929;
  border-radius: 150px;
  padding: 12px 16px;
  color: #fff;
  z-index: 999;
}

body #button_what {
  display: none;
  position: fixed;
  bottom: 30%;
  left: 14%;
  margin: 30px;
  background-color: #292929c7;
  border: 1px solid #292929;
  border-radius: 150px;
  padding: 12px 15px 12px 17px;
  color: #fff;
  z-index: 999;
}

@media screen and (max-width: 992px) {
  body .logo-mobile {
    /*padding-right: 55px;*/
  }
  body .logo-mobile img {
    /*width: 80%;*/
  }
  body .fab {
    font-weight: 400;
  }
  body .logo_central {
    display: none;
  }
  body #slider-central .slider1, body #slider-central .slider2 {
    height: 70vw;
  }
  body #slider-central .slider1 h1, body #slider-central .slider2 h1 {
    font-size: 40px;
    padding: 20px;
    padding-right: 0px;
  }
  body .nav-bar {
    background-color: #000 !important;
    padding: 20px;
  }
  body nav {
    background-color: #000;
  }
  body .navbar-brand {
    margin: 0 auto;
    width: auto;
  }
  body #me-especializo .flip-box-inner {
    position: relative;
    width: auto;
    height: 400px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    margin: 20px;
  }
  body #me-especializo .titulo {
    font-size: 30px;
    padding: 20px;
  }
  body #me-especializo .flip-box-back h2 {
    font-size: 30px;
  }
  body #me-especializo .flip-box-back p {
    font-size: 20px;
  }
  body #contactame .redes {
    text-align: center;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  body .logo-mobile {
    /*padding-right: 55px;*/
  }
  body #slider-central .slider1, body #slider-central .slider2 {
    height: 100vw;
  }
}

@media screen and (max-width: 576px) {
  body #slider-central .swiper-pagination {
    bottom: 50px;
  }
  body #slider-central .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
  }
  body #slider-central .slider1, body #slider-central .slider2 {
    height: 150vw;
  }
  body #slider-central .slider1 h1, body #slider-central .slider2 h1 {
    font-size: 30px;
    padding: 40px;
    padding-right: 0px;
    padding-top: 50px;
  }
  body #slider-central .swiper-button-prev,
  body #slider-central .swiper-button-next {
    display: none;
  }
  body #slider-central #prologo-central .col-lg-12 {
    padding: 20px;
    border-radius: 0px;
    font-size: 20px;
    line-height: 40px;
  }
  body #pedi-presupuesto .row:nth-child(2) {
    padding: 20px;
  }
  body #me-especializo .flip-box-inner {
    height: 250px;
  }
  body #button_up {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 2%;
    margin: 30px;
    background-color: #292929c7;
    border: 2px solid #292929;
    border-radius: 150px;
    padding: 12px 16px;
    color: #fff;
    z-index: 999;
  }
  body #button_what {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 2%;
    margin: 30px;
    background-color: #292929c7;
    border: 1px solid #292929;
    border-radius: 150px;
    padding: 12px 15px 12px 17px;
    color: #fff;
    z-index: 999;
  }
  body #publicidad #texto {
    min-height: 400px;
    background-color: #0d0c0c94;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body #publicidad .parallax {
    min-height: 400px !important;
    margin: 20px 0px;
  }
}
/*# sourceMappingURL=global.css.map */